<ons-page>
  <div>
      <img src="../images/wwy.jpg" style="width: 50%; margin-left: 25%; margin-top: 50px;">
  </div>
  <div style="margin-top: 20px; text-align: center;">
    <h2>Weathering with You</h2>

    <ons-col class="stars">
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: gray" icon="fa-star"></ons-icon>
    </ons-col>

    <p>In June 2021, first year high schooler Hodaka Morishima leaves Kōzu-shima in order to get to Tokyo. When his ferry to the city is hit by a rainstorm, 
      he is saved by Keisuke Suga, who gives Hodaka his business card. As Hodaka becomes broke and struggles to find work, 
      he meets Hina Amano, an employee of a McDonald's restaurant. She takes pity ...</p>
      <p>
        Cast: Actor 1, Actress 1, Actor 2, Actress 2 <br/>
        Director: Popular Director
      </p>
  </div>
</ons-page>