<ons-page>
  <div>
      <img src="../images/hw.png" style="width: 50%; margin-left: 25%; margin-top: 50px;">
  </div>

  </div>
  <div style="margin-top: 20px; text-align: center;">
      <h2>Hello World</h2>

      <ons-col class="stars">
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: gray" icon="fa-star"></ons-icon>
      </ons-col>
      
      <p>Set in Kyoto 2027, the Japanese government has made plans to collect and preserve the city's natural architecture and culture through drones in real time, 
        storing all its data in an infinite-capacity machine known as Alltale. Naomi Katagaki is an indecisive high school student living in Kyoto who harbours a love for reading. 
        One day...</p>
        <p>
          Cast: Actor 1, Actress 1, Actor 2, Actress 2 <br/>
          Director: Popular Director
        </p>
  </div>
</ons-page>