<ons-page>
  <div class="trailer">
  <ons-icon icon="fa-play-circle"></ons-icon>
      <img src="../images/yn.jpg" style="width: 50%; margin-left: 25%; margin-top: 50px;">
  </div>

  <div style="margin-top: 20px; text-align: center;">
    <h2>Your Name</h2>

    <ons-col class="stars">
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: red" icon="fa-star"></ons-icon>
      <ons-icon style="color: gray" icon="fa-star"></ons-icon>
    </ons-col>

    <p>Mitsuha Miyamizu is a high school girl living in the town of Itomori near Hida. She is bored with abnormal life and wishes to be a handsome Tokyo boy in her next life. 
      She begins to switch bodies intermittently with Taki Tachibana, a high school boy in Tokyo, when they wake up. They communicate by writing messages on paper, 
      phones and sometimes on each other's skin. Mitsuha causes Taki to develop a relationship with his coworker Miki, while Taki causes Mitsuha to become popular in school. 
      One day...</p>
      <p>
        Cast: Actor 1, Actress 1, Actor 2, Actress 2 <br/>
        Director: Popular Director
      </p>
  </div>
</ons-page>