<ons-page id="search">
  <div>

    <input type="search" value="" placeholder="name of movie" class="search-input search-input--material" style="width: 100% ">

      <ons-list>

          <ons-list-item style="grid-auto-rows: max-content;">

              <ons-row>
                  <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/hw.png" style="width:100%; height: 100%;"></ons-col>
                  <ons-col style="margin-left: 10px;">   
                    <h2 style="margin-top: 8px;margin-bottom: 8px;">Hello World</h2>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Set in Kyoto 2027, the Japanese government has made plans to collect and preserve the city's natural...</p>

                    <ons-col class="stars">
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: gray" icon="fa-star"></ons-icon>
                    </ons-col>

                  </ons-col>
                </ons-row>

                <ons-row>
                  <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/wwy.jpg" style="width:100%; height: 100%;"></ons-col>
                  <ons-col style="margin-left: 10px;">   
                    <h2 style="margin-top: 8px;margin-bottom: 8px;">Weathering with You</h2>
                    <p style="margin-top: 8px;margin-bottom: 8px;">In June 2021, first year high schooler Hodaka Morishima leaves Kōzu-shima in order to get to Tokyo. When his...</p>

                    <ons-col class="stars">
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: gray" icon="fa-star"></ons-icon>
                    </ons-col>

                  </ons-col>
                </ons-row>

                <ons-row>
                  <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/yn.jpg" style="width:100%; height: 100%;"></ons-col>
                  <ons-col style="margin-left: 10px;">   
                    <h2 style="margin-top: 8px;margin-bottom: 8px;">Your Name</h2>
                    <p style="margin-top: 8px;margin-bottom: 8px;">Mitsuha Miyamizu is a high school girl living in the town of Itomori near Hida. She is bored with abnormal life and wishes to be...</p>

                    <ons-col class="stars">
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: red" icon="fa-star"></ons-icon>
                      <ons-icon style="color: gray" icon="fa-star"></ons-icon>
                    </ons-col>
                    
                  </ons-col>
                </ons-row>

          </ons-list-item>

      </ons-list>
  </div>
</ons-page>